body {
   background: #DCFFBD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8B5CF6 , #C4B5FD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8B5CF6 , #C4B5FD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search{ 
    --padding: 14px;
    
    width: max-content;
    padding: var(--padding);
    background-color: #f4f4f4;
    border-radius: 100px;
    margin: 20px;
    border: 2px solid #7C3AED;
}

.search-input {
    margin-right: var(--padding);
    border: none;
    background:  transparent;
    outline: none;
    width: 400px;
}

.search-input::placeholder , .search-logo {
    color: rgb(0,0,0,0.25);
    font-size: larger;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tasks {
    height: 50px ;
    border: none;
    outline: none;
    background: #6D28D9;
    border-radius: 5px;
    color: whitesmoke;
    font-size: medium;
    padding-left: 20px;
}

.add-note{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border: none;
    background-color: #6D28D9;
    color: whitesmoke;
    position: fixed;
    bottom: 20px;
    right: 25vw;
}

.add-popup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: white;
     width: 400px;
     height: 250px;
     border-radius: 5px;
     color: #1d1c1c;
}

.button-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

.content-wrapper {
    text-align: center;
}

.popup-input { 
    width: 20vw;
    height: 20px;
    border: 2px solid #6D28D9;
    border-radius: 20px;
    padding: 5px;
}

.popup-btn {
    padding: 7px 18px;
    background-color: #6D28D9;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.cancel-btn {
    background-color: white;
    color: #6D28D9;
    border: 2px solid #6D28D9;
}